[class*="col-"] {
    padding: 10px;
    border: 1px solid black;
}

h2 {
    font-size: 30px;
}

.col-lg-12 > h2 {
    margin-bottom: 0;
}

img {
    height: 200px;
}

.row3-image {
    height: 300px;
    background-color: #428bca;
    border-radius: 50%;
    padding: 40px;
}