
    [class*="col-"] {
        padding: 10px;
        /* border: 1px solid black; */
    }

    h2 {
        font-size: 30px;
    }

    .col-lg-12 > h2 {
        margin-bottom: 0;
    }

    img {
        height: 200px;
    }

    .container > .row:nth-child(1n+2) {
        background-color: #f9f9f9;
        margin: 100px auto;
    }

    .row3-image {
        height: 300px;
        background-color: #428bca;
        border-radius: 50%;
        padding: 40px;
    }


@media screen and (min-width: 769px) and (max-width:991px) {
    img {
        margin: 20px auto;
    }
}

@media screen and (max-width: 768px) {



}